body {
  background-color: #fffbf7;
}

h1 {
  color: #46484c;
  text-align: center;
}

p {
  color: #8b8b8bcc;
  font-family: verdana;
  font-size: 20px;
}

button {
  color: #fff;
  background-color: #025157;
}

.header {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

li {
  display: inline;
}

.logo {
  width: 15%;
}

.navbar {
  width: 70%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}
